.frameQrReader {
    width: 100%;
    /* Kích thước cố định mặc định */
}

.myQrReader {
    width: 90%;
}

@media (min-width: 576px) {
    .myQrReader {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .myQrReader {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .myQrReader {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .myQrReader {
        width: 600px;
    }
}